.main-content {
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.table-players::-webkit-scrollbar {
  width: 4px;
}
.table-players {
  height: 50vh;
  overflow-y: auto;
}
.table-players table {
  width: 100%;
  text-align: center;
  color: var(--main-text-color);
  font-size: 18px;
}
.table-players table thead th {
  font-size: 20px;
  padding: 20px 0;
  background-color: var(--prim-color);
  color: var(--main-text-color);
  border-bottom: 2px solid var(--main-text-color);
}
.table-players table tbody tr td {
  padding: 20px 0;
  border-bottom: 2px solid var(--main-text-color);
}

.charts-players:has(> .hasData) {
  height: 50vh;
  background-color: var(--opacity-colorBg);
  display: flex;
  justify-content: center;
  margin: 40px 0 20px;
}
.charts-players:not(:has(> .hasData)) {
  display: none;
}
@media screen and (max-width: 500px) {
  .main-content {
    padding: 10px;
  }
  .table-players
    table
    :where(thead, tbody)
    :where(th:is(.displayed-mobile), td:is(.displayed-mobile)) {
    display: none;
  }
}
